VITE_SUPABASE_URL=https://qzfieqgbtfbtdyfztqip.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6ZmllcWdidGZidGR5Znp0cWlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5NzMwODMsImV4cCI6MjA5ODU0OTA4M30.sVzZO0zjMWnDX4XraJ22flun6dSLycCnGp--9q4TyNc
